In [ ]:
import numpy as np
from sklearn.cluster import MeanShift, KMeans
from sklearn import preprocessing
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
'''
Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
survival Survival (0 = No; 1 = Yes)
name Name
sex Sex
age Age
sibsp Number of Siblings/Spouses Aboard
parch Number of Parents/Children Aboard
ticket Ticket Number
fare Passenger Fare (British pound)
cabin Cabin
embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
boat Lifeboat
body Body Identification Number
home.dest Home/Destination

'''

In [ ]:
df = pd.read_excel(r"C:\Users\samer\Desktop\Machine Learning\Complementary Stuff\titanic.xls")

In [ ]:
original_df = pd.DataFrame.copy(df)
df.drop(['body','name'], 1, inplace=True)
df.fillna(0,inplace=True)

In [ ]:
def handle_non_numerical_data(df):
    
    # handling non-numerical data: must convert.
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        #print(column,df[column].dtype)
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            
            column_contents = df[column].values.tolist()
            #finding just the uniques
            unique_elements = set(column_contents)
            # great, found them. 
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    # creating dict that contains new
                    # id per unique string
                    text_digit_vals[unique] = x
                    x+=1
            # now we map the new "id" vlaue
            # to replace the string. 
            df[column] = list(map(convert_to_int,df[column]))

    return df

In [ ]:
df = handle_non_numerical_data(df)
df.drop(['ticket','home.dest'], 1, inplace=True)

In [ ]:
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

In [ ]:
clf = MeanShift()
clf.fit(X)

In [ ]:
# Now that we've created the fitment, we can get some attributes from our clf object:
labels = clf.labels_
cluster_centers = clf.cluster_centers_

In [ ]:
# Next, we're going to add a new column to our original dataframe:
original_df['cluster_group']=np.nan

In [ ]:
# Now, we can iterate through the labels and populate the labels to the empty column:
for i in range(len(X)):
    original_df['cluster_group'].iloc[i] = labels[i]

In [27]:
# Next, we can check the survival rates for each of the groups we happen to find:
n_clusters_ = len(np.unique(labels))
survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group']==float(i)) ]
    #print(temp_df.head())

    survival_cluster = temp_df[  (temp_df['survived'] == 1) ]

    survival_rate = len(survival_cluster) / len(temp_df)
    #print(i,survival_rate)
    survival_rates[i] = survival_rate
    
print(survival_rates)

{0: 0.36998394863563405, 1: 0.6938775510204082, 2: 1.0, 3: 0.1}

In [ ]:
# Again, you may get more groups. I got three here, but I've personally got 
# up to six groups on this same dataset. Right away, we see that group 0 has 
# a 38% survival rate, group 1 has a 91% survival rate, and group 2 has a 10%
# survival rate. This is somewhat curious as we know there were three actual
# "passenger classes" on the ship. I immediately wonder if 0 is the second-
# class group, 1 is first-class, and 2 is 3rd class. The classes on the ship 
# were ordered with 3rd class on the bottom, and first class on the top. The 
# bottom flooded first, and the top is where the life-boats were. I can look 
# deeper by doing:

In [16]:
print(original_df[ (original_df['cluster_group']==0) ])

      pclass  survived                                           name     sex  \
0          1         1                  Allen, Miss. Elisabeth Walton  female
5          1         1                            Anderson, Mr. Harry    male
6          1         1              Andrews, Miss. Kornelia Theodosia  female
7          1         0                         Andrews, Mr. Thomas Jr    male
8          1         1  Appleton, Mrs. Edward Dale (Charlotte Lamson)  female
...      ...       ...                                            ...     ...
1304       3         0                           Zabour, Miss. Hileni  female
1305       3         0                          Zabour, Miss. Thamine  female
1306       3         0                      Zakarian, Mr. Mapriededer    male
1307       3         0                            Zakarian, Mr. Ortin    male
1308       3         0                             Zimmerman, Mr. Leo    male

       age  sibsp  parch  ticket      fare cabin embarked boat   body  \
0     29.0      0      0   24160  211.3375    B5        S    2    NaN
5     48.0      0      0   19952   26.5500   E12        S    3    NaN
6     63.0      1      0   13502   77.9583    D7        S   10    NaN
7     39.0      0      0  112050    0.0000   A36        S  NaN    NaN
8     53.0      2      0   11769   51.4792  C101        S    D    NaN
...    ...    ...    ...     ...       ...   ...      ...  ...    ...
1304  14.5      1      0    2665   14.4542   NaN        C  NaN  328.0
1305   NaN      1      0    2665   14.4542   NaN        C  NaN    NaN
1306  26.5      0      0    2656    7.2250   NaN        C  NaN  304.0
1307  27.0      0      0    2670    7.2250   NaN        C  NaN    NaN
1308  29.0      0      0  315082    7.8750   NaN        S  NaN    NaN

                home.dest  cluster_group
0            St Louis, MO            0.0
5            New York, NY            0.0
6              Hudson, NY            0.0
7             Belfast, NI            0.0
8     Bayside, Queens, NY            0.0
...                   ...            ...
1304                  NaN            0.0
1305                  NaN            0.0
1306                  NaN            0.0
1307                  NaN            0.0
1308                  NaN            0.0

[1246 rows x 15 columns]

In [17]:
print(original_df[ (original_df['cluster_group']==1) ])

     pclass  survived                                               name  \
1         1         1                     Allison, Master. Hudson Trevor
2         1         0                       Allison, Miss. Helen Loraine
3         1         0               Allison, Mr. Hudson Joshua Creighton
4         1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
10        1         0                             Astor, Col. John Jacob
11        1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
16        1         0                           Baxter, Mr. Quigg Edmond
17        1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
23        1         1                              Bidois, Miss. Rosalie
24        1         1                                  Bird, Miss. Ellen
35        1         1                           Bowen, Miss. Grace Scott
57        1         1          Carter, Mrs. William Ernest (Lucile Polk)
66        1         1                        Chaudanson, Miss. Victorine
78        1         1  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
97        1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
103       1         1                      Endres, Miss. Caroline Louise
111       1         1                     Fortune, Miss. Alice Elizabeth
112       1         1                         Fortune, Miss. Ethel Flora
113       1         1                         Fortune, Miss. Mabel Helen
114       1         0                     Fortune, Mr. Charles Alexander
115       1         0                                  Fortune, Mr. Mark
116       1         1                Fortune, Mrs. Mark (Mary McDougald)
123       1         1                   Frolicher-Stehli, Mr. Maxmillian
124       1         1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
129       1         1                               Geiger, Miss. Amalie
139       1         1      Graham, Mrs. William Thompson (Edith Junkins)
173       1         0                                 Keeping, Mr. Edwin
192       1         1                               Lurette, Miss. Elise
193       1         1                  Madill, Miss. Georgette Alexandra
215       1         0                         Newell, Mr. Arthur Webster
238       1         1  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
249       1         1                        Ryerson, Master. John Borie
250       1         1                         Ryerson, Miss. Emily Borie
251       1         1              Ryerson, Miss. Susan Parker "Suzette"
252       1         0                         Ryerson, Mr. Arthur Larned
253       1         1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
273       1         1                    Spedden, Master. Robert Douglas
274       1         1                       Spedden, Mr. Frederic Oakley
275       1         1  Spedden, Mrs. Frederic Oakley (Margaretta Corn...
285       1         0                                 Straus, Mr. Isidor
286       1         0             Straus, Mrs. Isidor (Rosalie Ida Blun)
295       1         1                        Thayer, Mr. John Borland Jr
296       1         1  Thayer, Mrs. John Borland (Marian Longstreth M...
309       1         1                           Wick, Miss. Mary Natalie
310       1         0                           Wick, Mr. George Dennick
311       1         1         Wick, Mrs. George Dennick (Mary Hitchcock)
312       1         0                         Widener, Mr. George Dunton
313       1         0                          Widener, Mr. Harry Elkins
314       1         1       Widener, Mrs. George Dunton (Eleanor Elkins)

        sex      age  sibsp  parch    ticket      fare            cabin  \
1      male   0.9167      1      2    113781  151.5500          C22 C26
2    female   2.0000      1      2    113781  151.5500          C22 C26
3      male  30.0000      1      2    113781  151.5500          C22 C26
4    female  25.0000      1      2    113781  151.5500          C22 C26
10     male  47.0000      1      0  PC 17757  227.5250          C62 C64
11   female  18.0000      1      0  PC 17757  227.5250          C62 C64
16     male  24.0000      0      1  PC 17558  247.5208          B58 B60
17   female  50.0000      0      1  PC 17558  247.5208          B58 B60
23   female  42.0000      0      0  PC 17757  227.5250              NaN
24   female  29.0000      0      0  PC 17483  221.7792              C97
35   female  45.0000      0      0  PC 17608  262.3750              NaN
57   female  36.0000      1      2    113760  120.0000          B96 B98
66   female  36.0000      0      0  PC 17608  262.3750              B61
78   female  64.0000      0      2  PC 17756   83.1583              E45
97   female  27.0000      1      1  PC 17558  247.5208          B58 B60
103  female  38.0000      0      0  PC 17757  227.5250              C45
111  female  24.0000      3      2     19950  263.0000      C23 C25 C27
112  female  28.0000      3      2     19950  263.0000      C23 C25 C27
113  female  23.0000      3      2     19950  263.0000      C23 C25 C27
114    male  19.0000      3      2     19950  263.0000      C23 C25 C27
115    male  64.0000      1      4     19950  263.0000      C23 C25 C27
116  female  60.0000      1      4     19950  263.0000      C23 C25 C27
123    male  60.0000      1      1     13567   79.2000              B41
124  female  48.0000      1      1     13567   79.2000              B41
129  female  35.0000      0      0    113503  211.5000             C130
139  female  58.0000      0      1  PC 17582  153.4625             C125
173    male  32.5000      0      0    113503  211.5000             C132
192  female  58.0000      0      0  PC 17569  146.5208              B80
193  female  15.0000      0      1     24160  211.3375               B5
215    male  58.0000      0      2     35273  113.2750              D48
238  female  43.0000      0      1     24160  211.3375               B3
249    male  13.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
250  female  18.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
251  female  21.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
252    male  61.0000      1      3  PC 17608  262.3750  B57 B59 B63 B66
253  female  48.0000      1      3  PC 17608  262.3750  B57 B59 B63 B66
273    male   6.0000      0      2     16966  134.5000              E34
274    male  45.0000      1      1     16966  134.5000              E34
275  female  40.0000      1      1     16966  134.5000              E34
285    male  67.0000      1      0  PC 17483  221.7792          C55 C57
286  female  63.0000      1      0  PC 17483  221.7792          C55 C57
295    male  17.0000      0      2     17421  110.8833              C70
296  female  39.0000      1      1     17421  110.8833              C68
309  female  31.0000      0      2     36928  164.8667               C7
310    male  57.0000      1      1     36928  164.8667              NaN
311  female  45.0000      1      1     36928  164.8667              NaN
312    male  50.0000      1      1    113503  211.5000              C80
313    male  27.0000      0      2    113503  211.5000              C82
314  female  50.0000      1      1    113503  211.5000              C80

    embarked boat   body                        home.dest  cluster_group
1          S   11    NaN  Montreal, PQ / Chesterville, ON            1.0
2          S  NaN    NaN  Montreal, PQ / Chesterville, ON            1.0
3          S  NaN  135.0  Montreal, PQ / Chesterville, ON            1.0
4          S  NaN    NaN  Montreal, PQ / Chesterville, ON            1.0
10         C  NaN  124.0                     New York, NY            1.0
11         C    4    NaN                     New York, NY            1.0
16         C  NaN    NaN                     Montreal, PQ            1.0
17         C    6    NaN                     Montreal, PQ            1.0
23         C    4    NaN                              NaN            1.0
24         S    8    NaN                              NaN            1.0
35         C    4    NaN                  Cooperstown, NY            1.0
57         S    4    NaN                    Bryn Mawr, PA            1.0
66         C    4    NaN                              NaN            1.0
78         C   14    NaN                     Lakewood, NJ            1.0
97         C    6    NaN                     Montreal, PQ            1.0
103        C    4    NaN                     New York, NY            1.0
111        S   10    NaN                     Winnipeg, MB            1.0
112        S   10    NaN                     Winnipeg, MB            1.0
113        S   10    NaN                     Winnipeg, MB            1.0
114        S  NaN    NaN                     Winnipeg, MB            1.0
115        S  NaN    NaN                     Winnipeg, MB            1.0
116        S   10    NaN                     Winnipeg, MB            1.0
123        C    5    NaN              Zurich, Switzerland            1.0
124        C    5    NaN              Zurich, Switzerland            1.0
129        C    4    NaN                              NaN            1.0
139        S    3    NaN                    Greenwich, CT            1.0
173        C  NaN   45.0                              NaN            1.0
192        C  NaN    NaN                              NaN            1.0
193        S    2    NaN                     St Louis, MO            1.0
215        C  NaN  122.0                    Lexington, MA            1.0
238        S    2    NaN                     St Louis, MO            1.0
249        C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
250        C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
251        C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
252        C  NaN    NaN  Haverford, PA / Cooperstown, NY            1.0
253        C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
273        C    3    NaN                  Tuxedo Park, NY            1.0
274        C    3    NaN                  Tuxedo Park, NY            1.0
275        C    3    NaN                  Tuxedo Park, NY            1.0
285        S  NaN   96.0                     New York, NY            1.0
286        S  NaN    NaN                     New York, NY            1.0
295        C    B    NaN                    Haverford, PA            1.0
296        C    4    NaN                    Haverford, PA            1.0
309        S    8    NaN                   Youngstown, OH            1.0
310        S  NaN    NaN                   Youngstown, OH            1.0
311        S    8    NaN                   Youngstown, OH            1.0
312        C  NaN    NaN                  Elkins Park, PA            1.0
313        C  NaN    NaN                  Elkins Park, PA            1.0
314        C    4    NaN                  Elkins Park, PA            1.0

In [18]:
print(original_df[ (original_df['cluster_group']==2) ])

     pclass  survived                                               name  \
49        1         1                 Cardeza, Mr. Thomas Drake Martinez
50        1         1  Cardeza, Mrs. James Warburton Martinez (Charlo...
183       1         1                             Lesurer, Mr. Gustave J
302       1         1                                   Ward, Miss. Anna

        sex   age  sibsp  parch    ticket      fare        cabin embarked  \
49     male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
50   female  58.0      0      1  PC 17755  512.3292  B51 B53 B55        C
183    male  35.0      0      0  PC 17755  512.3292         B101        C
302  female  35.0      0      0  PC 17755  512.3292          NaN        C

    boat  body                                       home.dest  cluster_group
49     3   NaN  Austria-Hungary / Germantown, Philadelphia, PA            2.0
50     3   NaN                    Germantown, Philadelphia, PA            2.0
183    3   NaN                                             NaN            2.0
302    3   NaN                                             NaN            2.0

In [19]:
print(original_df[ (original_df['cluster_group']==3) ])

      pclass  survived                                               name  \
629        3         0                        Andersson, Mr. Anders Johan
632        3         0  Andersson, Mrs. Anders Johan (Alfrida Konstant...
644        3         0         Asplund, Mr. Carl Oscar Vilhelm Gustafsson
646        3         1  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
831        3         0                     Goodwin, Mr. Charles Frederick
832        3         0            Goodwin, Mrs. Frederick (Augusta Tyler)
1106       3         0             Panula, Mrs. Juha (Maria Emilia Ojala)
1146       3         0               Rice, Mrs. William (Margaret Norton)
1179       3         0                              Sage, Mr. John George
1180       3         0                     Sage, Mrs. John (Annie Bullen)

         sex   age  sibsp  parch    ticket     fare cabin embarked boat  \
629     male  39.0      1      5    347082  31.2750   NaN        S  NaN
632   female  39.0      1      5    347082  31.2750   NaN        S  NaN
644     male  40.0      1      5    347077  31.3875   NaN        S  NaN
646   female  38.0      1      5    347077  31.3875   NaN        S   15
831     male  40.0      1      6   CA 2144  46.9000   NaN        S  NaN
832   female  43.0      1      6   CA 2144  46.9000   NaN        S  NaN
1106  female  41.0      0      5   3101295  39.6875   NaN        S  NaN
1146  female  39.0      0      5    382652  29.1250   NaN        Q  NaN
1179    male   NaN      1      9  CA. 2343  69.5500   NaN        S  NaN
1180  female   NaN      1      9  CA. 2343  69.5500   NaN        S  NaN

       body                             home.dest  cluster_group
629     NaN                   Sweden Winnipeg, MN            3.0
632     NaN                   Sweden Winnipeg, MN            3.0
644   142.0                 Sweden  Worcester, MA            3.0
646     NaN                 Sweden  Worcester, MA            3.0
831     NaN  Wiltshire, England Niagara Falls, NY            3.0
832     NaN  Wiltshire, England Niagara Falls, NY            3.0
1106    NaN                                   NaN            3.0
1146  327.0                                   NaN            3.0
1179    NaN                                   NaN            3.0
1180    NaN                                   NaN            3.0

In [20]:
print(original_df[ (original_df['cluster_group']==0) ].describe())

            pclass     survived         age        sibsp        parch  \
count  1246.000000  1246.000000  985.000000  1246.000000  1246.000000
mean      2.344302     0.369984   29.375888     0.484751     0.302568
std       0.812203     0.482994   14.164671     1.050229     0.656712
min       1.000000     0.000000    0.166700     0.000000     0.000000
25%       2.000000     0.000000   21.000000     0.000000     0.000000
50%       3.000000     0.000000   28.000000     0.000000     0.000000
75%       3.000000     1.000000   37.000000     1.000000     0.000000
max       3.000000     1.000000   80.000000     8.000000     4.000000

              fare        body  cluster_group
count  1245.000000  114.000000         1246.0
mean     25.189116  161.991228            0.0
std      28.336017   98.488173            0.0
min       0.000000    1.000000            0.0
25%       7.895800   70.500000            0.0
50%      13.416700  165.500000            0.0
75%      27.750000  257.500000            0.0
max     227.525000  328.000000            0.0

In [21]:
print(original_df[ (original_df['cluster_group']==1) ].describe())

       pclass   survived        age      sibsp      parch        fare  \
count    49.0  49.000000  49.000000  49.000000  49.000000   49.000000
mean      1.0   0.693878  37.498300   0.836735   1.326531  198.238435
std       0.0   0.465657  17.606277   0.874332   1.028505   58.926892
min       1.0   0.000000   0.916700   0.000000   0.000000   79.200000
25%       1.0   0.000000  24.000000   0.000000   1.000000  151.550000
50%       1.0   1.000000  38.000000   1.000000   1.000000  211.500000
75%       1.0   1.000000  50.000000   1.000000   2.000000  262.375000
max       1.0   1.000000  67.000000   3.000000   4.000000  263.000000

             body  cluster_group
count    5.000000           49.0
mean   104.400000            1.0
std     36.156604            0.0
min     45.000000            1.0
25%     96.000000            1.0
50%    122.000000            1.0
75%    124.000000            1.0
max    135.000000            1.0

In [23]:
print(original_df[ (original_df['cluster_group']==2) ].describe())

       pclass  survived        age  sibsp    parch      fare  body  \
count     4.0       4.0   4.000000    4.0  4.00000    4.0000   0.0
mean      1.0       1.0  41.000000    0.0  0.50000  512.3292   NaN
std       0.0       0.0  11.343133    0.0  0.57735    0.0000   NaN
min       1.0       1.0  35.000000    0.0  0.00000  512.3292   NaN
25%       1.0       1.0  35.000000    0.0  0.00000  512.3292   NaN
50%       1.0       1.0  35.500000    0.0  0.50000  512.3292   NaN
75%       1.0       1.0  41.500000    0.0  1.00000  512.3292   NaN
max       1.0       1.0  58.000000    0.0  1.00000  512.3292   NaN

       cluster_group
count            4.0
mean             2.0
std              0.0
min              2.0
25%              2.0
50%              2.0
75%              2.0
max              2.0

In [24]:
print(original_df[ (original_df['cluster_group']==3) ].describe())

       pclass   survived        age      sibsp      parch       fare  \
count    10.0  10.000000   8.000000  10.000000  10.000000  10.000000
mean      3.0   0.100000  39.875000   0.800000   6.000000  42.703750
std       0.0   0.316228   1.552648   0.421637   1.632993  15.590194
min       3.0   0.000000  38.000000   0.000000   5.000000  29.125000
25%       3.0   0.000000  39.000000   1.000000   5.000000  31.303125
50%       3.0   0.000000  39.500000   1.000000   5.000000  35.537500
75%       3.0   0.000000  40.250000   1.000000   6.000000  46.900000
max       3.0   1.000000  43.000000   1.000000   9.000000  69.550000

             body  cluster_group
count    2.000000           10.0
mean   234.500000            3.0
std    130.814755            0.0
min    142.000000            3.0
25%    188.250000            3.0
50%    234.500000            3.0
75%    280.750000            3.0
max    327.000000            3.0

In [25]:
cluster_0 = (original_df[ (original_df['cluster_group']==0) ])
cluster_0_fc = (cluster_0[ (cluster_0['pclass']==1) ])
print(cluster_0_fc.describe())

       pclass    survived         age       sibsp       parch        fare  \
count   270.0  270.000000  231.000000  270.000000  270.000000  270.000000
mean      1.0    0.600000   39.480519    0.370370    0.188889   61.120016
std       0.0    0.490808   13.903106    0.520805    0.469781   38.874905
min       1.0    0.000000    4.000000    0.000000    0.000000    0.000000
25%       1.0    0.000000   29.000000    0.000000    0.000000   29.700000
50%       1.0    1.000000   39.000000    0.000000    0.000000   53.100000
75%       1.0    1.000000   49.000000    1.000000    0.000000   79.650000
max       1.0    1.000000   80.000000    2.000000    2.000000  227.525000

             body  cluster_group
count   30.000000          270.0
mean   172.566667            0.0
std     84.511449            0.0
min     16.000000            0.0
25%    114.000000            0.0
50%    173.500000            0.0
75%    242.250000            0.0
max    307.000000            0.0

In [26]:
# Here 60% of class 1 individuals in cluster 0 survived

In [29]:
print(original_df[ (original_df['cluster_group']==2) ])

     pclass  survived                                               name  \
49        1         1                 Cardeza, Mr. Thomas Drake Martinez
50        1         1  Cardeza, Mrs. James Warburton Martinez (Charlo...
183       1         1                             Lesurer, Mr. Gustave J
302       1         1                                   Ward, Miss. Anna

        sex   age  sibsp  parch    ticket      fare        cabin embarked  \
49     male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
50   female  58.0      0      1  PC 17755  512.3292  B51 B53 B55        C
183    male  35.0      0      0  PC 17755  512.3292         B101        C
302  female  35.0      0      0  PC 17755  512.3292          NaN        C

    boat  body                                       home.dest  cluster_group
49     3   NaN  Austria-Hungary / Germantown, Philadelphia, PA            2.0
50     3   NaN                    Germantown, Philadelphia, PA            2.0
183    3   NaN                                             NaN            2.0
302    3   NaN                                             NaN            2.0

In [ ]:
# All the people of this cluster survived (100% survival)